manifest {
  author = "Jeff Vierstra"
  mainScript = "main.nf"
  defaultBranch = "master"
  name = "dhs-index-pipeline"
  description = "Build a DHS index from BAM files"
  version = "0.1"
  nextflowVersion = "21.04.1"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


profiles {
	Altius {
		// Run on SLURM and load the appropriate modules	
		process {
			executor = "slurm"
			queue = "queue0"
			memory = { 16.GB * task.attempt }
			cache = "deep"
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3

			conda = '/home/jvierstra/.local/miniconda3/envs/py3.9_default'
 		}
		
		executor {
			$slurm {
				queueSize = 400
			}
		}
			
		// Logging
		// trace.enabled = true
		// trace.file = "pipeline_trace.txt"
		// timeline.enabled = true
		// timeline.file = "pipeline_timeline.html"
		// report.enabled = true
		// report.file = "pipeline_report.html"
	}
}
