// Metadata and outdir
samples_file = '/home/sabramov/projects/SuperIndex/masterlist_dnase0108.tsv'
outdir = 'output'
// Installed conda path (uncomment if you have already unpacked conda environment from environment.yml)
conda = "/home/sabramov/miniconda3/envs/super-index"

index_file = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_22-11-28/raw_masterlist/masterlist_DHSs_2902Altius-Index_nonovl_any_chunkIDs.bed"
encode_blacklist_regions = "/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"

gpu_conda = "/home/sabramov/miniconda3/envs/tensorflow"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"


// uncomment to downweight overrepresented samples
// sample_weights = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-0423/sample_weights.npy"
