outdir = "$launchDir/output"
// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index-test"


// Metadata
samples_file = '/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_23-05-11/metadata/ENCODE4plus_master_metadata_for_analysis.tsv'

encode_blacklist_regions = "/net/seq/data2/projects/ENCODE4Plus/resources/mm10-blacklist.v2.bed"
chrom_sizes = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chrom_sizes"
genome_fasta = '/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.fa'
mappable_file = '/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.K76.mappable_only.bed'


// Resource
encode3 = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_encode3/raw_masterlist/masterlist_DHSs_733samples_WM20180608_all_chunkIDs.bed"
gencode = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/gencode_annotation/raw_files/gencode.v41.basic.annotation_utr.gtf.gz"
repeats = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/repeat_annotation/raw/repeats_ucsc_09-22.gz"
gwas_catalog = "/net/seq/data2/projects/GWAS/gwas_catalog/gwascat_full_04242023.tsv"


index_anndata = "${outdir}/zarr/index.anndata.zarr"
matrices_anndata = "${outdir}/zarr/index+matrices.anndata.zarr"


// Variance partition
formula = "~ (1 | core_annotation) + dup_rate + SPOT1_score + I(SPOT1_score^2)"

// NMF parameters
nmf_params_list = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled_no_cancer/nmf_params.scaled_weights.tsv"

nmf_results_path = "${outdir}/nmf/"


// average tracks params
chunksize = 500000