outdir = "$launchDir/output"
// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"

// Metadata
samples_file = ''

index_peaks_column = "peaks_file_0.001fdr"
matrix_peaks_column = "peaks_file_0.01fdr"
// Species
species = "mouse"

encode_blacklist_regions = "/net/seq/data2/projects/ENCODE4Plus/resources/mm10-blacklist.v2.bed"
chrom_sizes = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chrom_sizes"
genome_fasta = '/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.fa'

mappable_not_blacklist_file = '/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/blacklist_extended/mm10-encode3-male.K36.mappable_only.no_blacklist.bed.gz'

index_dir = "{outdir}"

// Resource
gencode = "/net/seq/data2/projects/ENCODE4Plus/resources/mouse_gencode/gencode.vM25.basic.annotation.gff3.gz"
repeats = "/net/seq/data2/projects/sabramov/SuperIndex/repeats_parsed.mouse.bed.gz"
nuclear_chrom_sizes = "/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/mm10-encode3-male.nuclear_chrom_sizes"


index_anndata = "${outdir}/zarr/index.anndata.zarr"
matrices_anndata = "${outdir}/zarr/index+matrices.anndata.zarr"


// Normalization
vst_design_formula = '~ 0 + interaction(core_annotation, extended_annotation, drop = TRUE)'

normalization_layer = "counts" // "bg_corrected_agg_cutcounts"
dhs_mask_name = "autosomal_dhs"

// Variance partition
chunk_size = 5000
variance_partition_formula = '~ nuclear_dup_rate + SPOT3_score + nuclear_reads + alignment_quality'

// Core sets
core_set_correction_method = 'cauchy' // stouffer
