// Metadata and outdir
samples_file = '/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_23-05-11/metadata/ENCODE4plus_master_metadata_for_analysis.tsv'
outdir = 'output'
// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"

index_file = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_23-05-11/raw_masterlist/masterlist_DHSs_dnase-05-11_nonovl_any_chunkIDs.bed"
encode_blacklist_regions = "/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"

// uncomment to downweight overrepresented samples
// sample_weights = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-0423/sample_weights.npy"
