outdir = "$launchDir/output"
// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"

// Metadata
samples_file = ''

index_peaks_column = "peaks_file_0.001fdr"
matrix_peaks_column = "peaks_file_0.01fdr"
// Species
species = "mouse"

encode_blacklist_regions = "/net/seq/data2/projects/ENCODE4Plus/resources/mm10-blacklist.v2.bed"
chrom_sizes = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chrom_sizes"
genome_fasta = '/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.fa'

mappable_not_blacklist_file = '/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/blacklist_extended/mm10-encode3-male.K36.mappable_only.no_blacklist.bed.gz'


// Resource
gencode = "/net/seq/data2/projects/ENCODE4Plus/figures/resources/mouse_gencode/gencode.vM23.basic.annotation.gtf.gz"
repeats = "/net/seq/data2/projects/ENCODE4Plus/REGULOME/mouse/repeats_parsed.mouse.bed.gz"
nuclear_chrom_sizes = "/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/mm10-encode3-male.nuclear_chrom_sizes"


index_anndata = "${outdir}/zarr/index.anndata.zarr"
matrices_anndata = "${outdir}/zarr/index+matrices.anndata.zarr"


// Variance partition
chunk_size = 5000
formula = "~ (1 | core_annotation) + dup_rate + SPOT1_score + I(SPOT1_score^2)"
