// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"
outdir = "$launchDir/output"
// Metadata
samples_file = ''
index_peaks_column = "peaks_file_0.001fdr"
matrix_peaks_column = "peaks_file_0.01fdr"
// Species
species = "human"

// Annotations
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"
genome_fasta = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa'
mappable_not_blacklist_file = '/net/seq/data2/projects/sabramov/SuperIndex/GRCh38_no_alts.K36.n150.center_sites_and_extended_blacklist.bed.gz'

gencode = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/gencode_annotation/raw_files/gencode.v41.basic.annotation_utr.gtf.gz"
repeats = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/repeat_annotation/raw/repeats_ucsc_09-22.gz"

// Generate matrices
index_anndata = "${outdir}/zarr/index.anndata.zarr"
matrices_anndata = "${outdir}/zarr/index+matrices.anndata.zarr"
nuclear_chrom_sizes = "/net/seq/data2/projects/sabramov/SuperIndex/hotspot3/GRCh38_no_alts.nuclear.chrom_sizes"

// Normalization
vst_design_formula = '~ 0 + core_annotation:extended_annotation'
dhs_mask_name = "autosomal_dhs"

// Variance partition
chunk_size = 5000
variance_partition_formula = '~ nuclear_dup_rate + SPOT3_score + nuclear_reads + alignment_quality'
