// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index-test"
outdir = "$launchDir/output"
// Metadata
samples_file = '/net/seq/data2/projects/ENCODE4Plus/indexes/index_altius_23-05-11/metadata/ENCODE4plus_master_metadata_for_analysis.tsv'

// unique sufix for output files
masterlist_id = "Altius"
singletons_strategy = "filter_median" // keep_all, filter_median or filter_all
// Path to index file created by build_masterlist workflow. Used in generate_matrices and filter_peaks workflows
index_file = "${outdir}/unfiltered_masterlists/masterlist_DHSs_${masterlist_id}_all_chunkIDs.bed"

// Annotations
encode_blacklist_regions = "/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"
genome_fasta = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa'
mappable_file = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.mappable_only.bed'
encode3 = "/net/seq/data2/projects/ENCODE4Plus/indexes/index_encode3/raw_masterlist/masterlist_DHSs_733samples_WM20180608_all_chunkIDs.bed"
gencode = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/gencode_annotation/raw_files/gencode.v41.basic.annotation_utr.gtf.gz"
repeats = "/net/seq/data2/projects/ENCODE4Plus/figures/dhs_metadata/repeat_annotation/raw/repeats_ucsc_09-22.gz"
gwas_catalog = "/net/seq/data2/projects/GWAS/gwas_catalog/gwascat_full_04242023.tsv"


// NMF parameters
nmf_params_list = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/downsampled_no_cancer/nmf_params.scaled_weights.tsv"
dhs_annotations = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-index0415/matrices/full/output/annotations/masterlist_DHSs_Altius.filtered.annotated.bed"
nmf_results_path = "${outdir}/nmf/"


// average tracks params
chunksize = 500000